@using FlightoUs.Bll
@using FlightoUs.Model.Data
@using FlightoUs.Model.Enums
@using FlightoUs.Bll.Helpers
@using FlightoUs.Model.Services 
@using Microsoft.AspNetCore.Http;

@section Scripts
{
    <script src="~/js/CRM/Admin/Lead/AddEditLead.js?v=@DateTime.Now.Ticks.ToString()"></script>
    <script src="~/select2-develop/dist/js/select2.min.js"></script>

}
@section Styles
{
    <link href="~/select2-develop/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        /** {
            box-sizing: border-box
        }*/

        /* Style tab links */
        /*.tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
        }

            .tablink:hover {
                background-color: #777;
            }*/

        /* Style the tab content (and add height:100% for full page content) */
        /*.tabcontent {
            display: none;
            padding: 100px 20px;
            height: 100%;
        }*/
    </style>
}
@{
    bool IsAdmin = User.IsInRole(UserRoleType.Admin.ToString());
    bool IsManager = User.IsInRole(UserRoleType.Manager.ToString());
    bool IsUser = User.IsInRole(UserRoleType.User.ToString());
    string typeofUserLogin = "";
    if (IsAdmin)
    {
        typeofUserLogin = "Admin";
    }
    if (IsManager)
    {
        typeofUserLogin = "Manager";
    }
    if (IsUser)
    {
        typeofUserLogin = "User";
    }
    var data = (Lead)ViewBag.data;

    int year = data.DepartureDate.Year;
    int month = data.DepartureDate.Month;
    int day = data.DepartureDate.Day;


    var CreatedDateStr = string.Format("{0}/{1}/{2}", year, month, day);
    var Title = ViewBag.title;
    BllUser bllUser = new BllUser();
    var userdata = bllUser.GetAllUsers();
    var remarksData = (Remarks)ViewBag.remarks;

    string LeadType = EnumHelper.GetEnumByValue<LeadType>(data.LeadType.ToString()).ToString();
    string LeadTypeDemand = EnumHelper.GetEnumByValue<LeadTypeDemand>(data.LeadTypeDemand.ToString()).ToString();
    string LeadStatus = EnumHelper.GetEnumByValue<LeadStatus>(data.LeadStatus.ToString()).ToString();
    string customerType = EnumHelper.GetEnumByValue<CustomerType>(data.CustomerType.ToString()).ToString();
    string Classoftravel = EnumHelper.GetEnumByValue<ClassOfTravel>(data.ClassOfTravel.ToString()).ToString();
    string LeadTripType = EnumHelper.GetEnumByValue<TripType>(data.TripTyepLead.ToString()).ToString();
    string LeadGenderType = EnumHelper.GetEnumByValue<Leadgender>(data.LeadGender.ToString()).ToString();


    var typ = Enum.GetValues(typeof(LeadType)).Cast<LeadType>().ToList();
    var LeadTypes = new List<string>();
    foreach (var g in typ)
    {
        LeadTypes.Add(String.Join(Environment.NewLine, g));
    }

    var typdem = Enum.GetValues(typeof(LeadTypeDemand)).Cast<LeadTypeDemand>().ToList();
    var LeadTypeDemands = new List<string>();
    foreach (var g in typdem)
    {
        LeadTypeDemands.Add(String.Join(Environment.NewLine, g));
    }

    var sta = Enum.GetValues(typeof(LeadStatus)).Cast<LeadStatus>().ToList();
    var LeadStatuses = new List<string>();
    foreach (var g in sta)
    {
        LeadStatuses.Add(String.Join(Environment.NewLine, g));
    }

    var Cus = Enum.GetValues(typeof(CustomerType)).Cast<CustomerType>().ToList();
    var CustomerTypes = new List<string>();
    foreach (var g in Cus)
    {
        CustomerTypes.Add(String.Join(Environment.NewLine, g));
    }
    var clas = Enum.GetValues(typeof(ClassOfTravel)).Cast<ClassOfTravel>().ToList();
    var Classoftravels = new List<string>();
    foreach (var g in clas)
    {
        Classoftravels.Add(String.Join(Environment.NewLine, g));
    }
    var gender = Enum.GetValues(typeof(Leadgender)).Cast<Leadgender>().ToList();
    var LeadsGendrs = new List<string>();
    foreach (var g in gender)
    {
        LeadsGendrs.Add(String.Join(Environment.NewLine, g));
    }

    Ticket TicketData = new Ticket();
    Hotel HotelData = new Hotel();
    var TripTypes = new List<string>();
    var trip = Enum.GetValues(typeof(TripType)).Cast<TripType>().ToList();

    foreach (var g in trip)
    {
        TripTypes.Add(String.Join(Environment.NewLine, g));
    }
    string TripType = "";
    if (data.Id != 0)
    {
        BllTicket bllTicket = new BllTicket();
        BllHotel bllHotel = new BllHotel();

        if (bllTicket.GetTicketByLead(data.Id) != null)
        {
            TicketData = bllTicket.GetTicketByLead(data.Id);
            TripType = EnumHelper.GetEnumByValue<TripType>(TicketData.TripType.ToString()).ToString();


        }
        if (bllHotel.GetHotelByLead(data.Id) != null)
        {
            HotelData = bllHotel.GetHotelByLead(data.Id);
        }
    }

    var LeadStatusEnum = Enum.GetName(typeof(LeadStatus), data.LeadStatus);

    BllAirportCodes bllAirportCodes = new BllAirportCodes();
    var AirportCodes=bllAirportCodes.GetAllCodes();


    var us = Convert.ToInt32(User.Identity.Name);
    var LoginUserData = bllUser.GetByPK(us);

    var u = 3;

    var createduser = bllUser.GetByPK(data.CreatedBy);

}
@*<div class="row">
        <button type="button" class="btn btn-primary">
            Sale post <span class="badge badge-light">
                <span class="material-icons">
                    arrow_forward
                </span>
            </span>
        </button>
    </div>*@
<input type="hidden" value="@Convert.ToInt32( User.Identity.Name)" id="Userlog" />
@*@if (data.Id != 0)
    {
        @if (TicketData.Id != 0 || HotelData.Id != 0)
        {
            <div>
                <div class="right mt10">
                    <a class="btn btn-success btn-dark" onclick="MakeRecipt();">
                        <span style="position: relative; top: -5px;"> Make Recipt</span>
                        <span class="material-icons mr-1" style="position: relative; top: 3px; width: 20px;">
                            add_circle
                        </span>
                    </a>
                </div>
            </div>
        }

    }*@
<div class="row">
    @*<div class="col-lg-12">
            <div style="width:inherit;background-color: #548A94;margin-bottom: 30px;">
                <a asp-action="" asp-controller="" asp-route-LeadId="">
                    <img style="width: 80px;" src="~/images/a.png" />
                </a>

            </div>

        </div>*@
</div>

<!--
-->
<div id="" class="">
    <input type="hidden" id="hfLeadId" value="@data.Id" />
    <div class="row">

        <!--
        start Lead
        -->
        <div class="col-lg-12">
            <div id="BasicInfo" class="card" style="padding-bottom: 0px !important; margin-bottom: 0px;">
                <div class="card-header">
                    <strong>Lead Detail</strong>
                        @if(data.Careof == Convert.ToInt32(User.Identity.Name))
                        {
                    @if (data.Id != 0)
                    {
                        if (LeadStatusEnum != "Close")
                        {
                    <a class="btn btn-primary btn-sm float-right" asp-controller="@typeofUserLogin" asp-action="MakeRecipt" asp-route-LeadId="@data.Id">
                        <span class="material-icons">
                            receipt
                        </span>
                        <span style="position: relative;top: -6px;">Make Recipt</span>
                    </a>
                    <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" asp-controller="@typeofUserLogin" asp-action="MakeSalePost" asp-route-LeadId="@data.Id">
                        <span class="material-icons">
                            point_of_sale
                        </span>
                        <span style="position: relative;top: -6px;">Post Sale</span>
                    </a>
                        }
                        if (LeadStatusEnum == "Open" || LeadStatusEnum == "Success")
                        {
                    <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" onclick="ChangeStatus('Success');">
                        <span class="material-icons">
                            thumb_up_alt
                        </span>
                        <span style="position: relative;top: -6px;">Success</span>
                    </a>
                    <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" onclick="ChangeStatus('Close');">
                        <span class="material-icons">
                            trending_down
                        </span>
                        <span style="position: relative;top: -6px;">Close</span>
                    </a>
                        }
                        if (LeadStatusEnum == "Close")
                        {
                    <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" onclick="ChangeStatus('Open');">
                        <span class="material-icons">
                            lock_open
                        </span>
                        <span style="position: relative;top: -6px;">Open</span>
                    </a>
                        }
                    }
                        }
                </div>

                <div class="card-body card-block">
                    <div id="div_message" class="note failure">
                        <p>
                            <span id="span_message"></span>
                        </p>
                    </div>
                    <br />
                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Lead ID</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-control" id="txtUserName" type="text" value="@(data.Id!=0 ? data.Id :"")" disabled maxlength="20">
                        </div>
                        <div class="col offset-md-1 col-md-2">
                            <label for="hf-email" class=" form-control-label">
                                Name &nbsp;
                                <span class="input-group-addon">
                                    <select name="txtLeadgender" id="txtLeadgender">
                                        @foreach (var c in LeadsGendrs)
                                        {
                                            if (c == LeadGenderType)
                                            {
                                                <option id="genders" selected>@c</option>
                                            }
                                            else
                                            {
                                                <option id="genders">@c</option>
                                            }

                                        }
                                    </select>
                                </span>
                            </label>
                        </div>
                        <div class="col-12 col-md-3">
                            <input class="form-control" id="txtFirstName" type="text" value="@data.FirstName" @(ViewBag.IsAdd ? "disabled" : "") maxlength="20">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Primary Phone</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-control" id="txtTelephone" type="text" @(ViewBag.IsAdd ? "disabled" : "") onchange="CheckForUser();" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" value="@data.Telephone" maxlength="20">
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Email</label></div>
                        <div class="col-12  col-md-3">
                            <input class="form-control" id="txtEmail" type="text" value="@data.Email" maxlength="500">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Secondary Phone No</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-control" id="txtSecondaryPhoneNumber" type="text" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" value="@data.SecondaryPhoneNumber" maxlength="20">
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Customer Type</label></div>
                        <div class="col-12 col-md-3">
                            <select class="form-control" id="txtCustomerType" name="txtCustomerType" required>
                                @foreach (var c in CustomerTypes)
                                {
                                    if (c == customerType)
                                    {
                                        <option id="genders" selected>@c</option>
                                    }
                                    else
                                    {
                                        <option id="genders">@c</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col  col-md-2"><label for="hf-email" class=" form-control-label">Location</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-control" id="txtAddress" type="text" value="@data.Address" maxlength="500">
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">In Contact With Customer</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-check-input" style="margin-left:20px; margin-top:12px;" id="txtRadio1" name="Radioname" @(data.ContactCustomer == "yes" ? "checked" : "") type="radio" onchange="OnchangePerson('yes')">
                            <label id="form-check-label" style="margin-left:40px; margin-top:5px;" for="male">Yes</label>
                            <input class="form-check-input" style="margin-left:20px; margin-top:12px;" id="txtRadio1" type="radio" name="Radioname" @(data.ContactCustomer == "no" ? "checked" : "") onchange="OnchangePerson('no')">
                            <label id="form-check-label" style="margin-left:40px; margin-top:5px;" for="male">No</label><br>
                            @*<label id="form-check-label" style="margin-left:40px; margin-top:5px;" for="male" >Yes</label><br>*@
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Service Type</label></div>
                        <div class="col-12 col-md-3">
                            <span class="material-icons">
                                airplane_ticket
                            </span>
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Departure Date</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-control" id="txtDepartureDateL" type="date" value="@data.DepartureDate" maxlength="20">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Sector From</label></div>
                        <div class="col-12 col-md-3">
                            <select class="form-control" id='selUserFrom' name="selUserFrom" required>
                                <option value="">Please Select</option>
                                @foreach (var code in AirportCodes)
                                {
                                    if (code.Id == data.FromCode)
                                    {
                                        <option value="@code.Id" selected>@code.IATA , @code.Location</option>
                                    }
                                    else
                                    {
                                        <option value="@code.Id">@code.IATA , @code.Location</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Sector To</label></div>
                        <div class="col-12 col-md-3">
                            <select class="form-control" id="selUserTo" name="selUserTo" required>
                                <option value="">Please Select</option>
                                @foreach (var code in AirportCodes)
                                {
                                    if (code.Id == data.ToCode)
                                    {
                                        <option value="@code.Id" selected>@code.IATA , @code.Location</option>
                                    }
                                    else
                                    {
                                        <option value="@code.Id">@code.IATA , @code.Location</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Created By</label></div>
                        <div class="col-12 col-md-3">
                            @if (data.Id != 0)
                            {
                                <input class="form-control" type="text" value="@createduser.FirstName" required disabled maxlength="20">
                                <input type="hidden" value="@data.CreatedBy" id="txtCreatedBy" />
                            }
                            else
                            {
                                <input class="form-control" type="text" value="@LoginUserData.FirstName" required disabled maxlength="20">
                                <input type="hidden" value="@LoginUserData.Id" id="txtCreatedBy" />
                            }

                        </div>


                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Care of</label></div>
                        <div class="col-12 col-md-3">
                            <select class="form-control" id="txtCareOf" name="txtCareOf" required @(ViewBag.IsAdd ? "disabled" : "")>
                                <option value="">Please Select</option>
                                @foreach (var user in userdata)
                                {
                                    if (user.Id == data.Careof)
                                    {
                                        <option value="@user.Id" selected>@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                    }
                                    else
                                    {
                                        <option value="@user.Id">@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Status</label></div>
                        <div class="col-12 col-md-3">
                            <select class="form-control" id="txtLeadStatus" name="txtLeadStatus" required @(ViewBag.IsAdd ? "disabled" : "")>
                                @foreach (var stat in LeadStatuses)
                                {
                                    if (stat == LeadStatus)
                                    {
                                        <option id="genders" selected>@stat</option>
                                    }
                                    else
                                    {
                                        <option id="genders">@stat</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Class of Travel</label></div>
                        <div class="col-12  col-md-3">
                            <select class="form-control" id="txtClassofTravel" name="txtClassofTravel" required>
                                <option value="">Please Select</option>
                                @foreach (var cl in Classoftravels)
                                {
                                    if (cl == Classoftravel)
                                    {
                                        <option id="genders" selected>@cl</option>
                                    }
                                    else
                                    {
                                        <option id="genders">@cl</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Trip Type</label></div>
                        <div class="col-12 col-md-3">
                            <select class="form-control" id="txttripType" name="txtTripType" required onchange="ShowHideReturnDate();">
                                @foreach (var stat in TripTypes)
                                {
                                    if (stat == LeadTripType)
                                    {
                                        <option id="genders" selected>@stat</option>
                                    }
                                    else
                                    {
                                        <option id="genders">@stat</option>
                                    }

                                }
                            </select>
                        </div>

                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Lead Type</label></div>
                        <div class="col-12 col-md-3">
                            <select class="form-control" id="txtLeadTypeN" name="txtLeadTypeN" required>
                                @foreach (var lead in LeadTypes)
                                {
                                    if (lead == LeadType)
                                    {
                                        <option id="genders" selected>@lead</option>
                                    }
                                    else
                                    {
                                        <option id="genders">@lead</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Return Date</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-control hide" id="txtArrivalDateL" type="date" value="@data.ReturnDate" maxlength="20">
                        </div>

                        @if (data.Id != 0 && typeofUserLogin == "Admin")
                        {
                            <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Taken Over By</label></div>
                            <div class="col-12  col-md-3">
                                <select class="form-control" id="txtAssignTo" name="txtAssignTo" required>
                                    <option value="">Please Select</option>
                                    @foreach (var user in userdata)
                                    {
                                        if (user.Id == data.Careof)
                                        {
                                            <option value="@user.Id" selected>@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                        }
                                        else
                                        {
                                            <option value="@user.Id">@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                        }
                                    }
                                </select>
                            </div>
                        }
                    </div>

                    <br />


                </div>

            </div>


            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm float-right" onclick="SaveLeads();">
                    <i class="material-icons " id="iconcss" style="">save</i>Save
                </button>
            </div>
        </div>


    </div>

    <br />
    @if (data.Id != 0)
    {
        <div class="row">

            <!--
            start Lead
            -->
            <div class="col-lg-12">
                <div id="BasicInfo2" class="card" style="padding-bottom: 0px !important; margin-bottom: 0px;">
                    <div class="card-header">
                        <strong>Free Text</strong>
                    </div>

                    <div class="card-body card-block" style="background-image: linear-gradient(to right, #5da9ba, #558994); ">
                        <div id="div_messagef" class="note failure">
                            <p>
                                <span id="span_messagef"></span>
                            </p>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <textarea class="form-control" id="txtFreeText" rows="10">@data.FreeText</textarea>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary btn-sm float-right" onclick="SaveFreeText();">
                            <i class="material-icons " id="iconcss" style="">save</i>Save FreeText
                        </button>
                    </div>
                </div>
            </div>
        </div>

    }
    <br />
    <br />
    <div style="display:@(ViewBag.IsAdd ? "inline" : "none")">
        @if (data.Careof == Convert.ToInt32(User.Identity.Name))
        {
            <div class="right mT10">
                <a class="btn btn-success btn-sm" asp-action="AddEditRemarks" asp-controller="@typeofUserLogin" asp-route-LeadId="@data.Id">
                    <span style="position: relative; top: -5px;">Add Remarks</span>
                    <span class="material-icons mr-1" style="position: relative; top: 3px; width: 20px;">
                        add_circle
                    </span>
                </a>
            </div>
        }

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Remarks</strong>&nbsp; <span id="spanTotalRecords"></span>
                    </div>
                    <div class="card-body">
                        <div id="div_message" class="note failure">
                            <p>
                                <span id="span_message"></span>
                            </p>
                        </div>
                        <div class="c1 filter">

                            @*<div class="right">
                                Search: <input id="txtSearch" style="" type="text" class="form-control search">
                                <a title="Search" style="cursor:pointer; margin-left:5px; " onclick="SearchUsers();"><i class="material-icons " style="position:relative; top:5px;">search</i></a>
                                <a title="Reset" style="cursor:pointer;" onclick="ResetUsers();"><i class="material-icons" style="position:relative; top:5px;">clear</i></a>
                            </div>*@
                        </div>

                        <table id="tbl1" class="table">
                            <thead>
                                <tr>
                                    <th class="gridSortingMenu" scope="col" sortable datafield="createdDateStr" caption="">Created Date</th>
                                    <th class="gridSortingMenu" scope="col" sortable datafield="contactDateStr" caption="">Follow Up Date</th>
                                    <th class="gridSortingMenu" scope="col" sortable datafield="details" caption="">Details</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        @*Show Pager*@

                        <div id="div_no_found" class="alert alert-info hide" role="alert">
                            No Remarks Found. Please click on Add Remark button to add a Remark.
                            @*This is a info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.*@
                        </div>




                    </div>
                </div>
            </div>


        </div>
    </div>


    <script id="ListTemplateCustomers" type="text/x-jsrender">
        <tr>
            <td>{{:createdDateStr}}</td>
            <td>{{:contactDateStr}}</td>
            <td>{{:details}}</td>
            <td>

                @*<a onclick="DeleteLeads({{:id}});" class="text-danger " style="cursor:pointer;"><i class="material-icons">delete_outline</i></a>*@
            </td>
        </tr>


    </script>

</div>
