@using FlightoUs.Bll
@using FlightoUs.Model.Data
@using FlightoUs.Model.Enums
@using FlightoUs.Bll.Helpers
@using Microsoft.AspNetCore.Http;

@section Scripts
{
    <script src="~/js/CRM/Admin/Lead/AddEditLead.js?v=@DateTime.Now.Ticks.ToString()"></script>

}
@section Styles
{
    <style>
        /** {
            box-sizing: border-box
        }*/

        /* Style tab links */
        /*.tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
        }

            .tablink:hover {
                background-color: #777;
            }*/

        /* Style the tab content (and add height:100% for full page content) */
        /*.tabcontent {
            display: none;
            padding: 100px 20px;
            height: 100%;
        }*/
    </style>
}
@{
    bool IsAdmin = User.IsInRole(UserRoleType.Admin.ToString());
    bool IsManager = User.IsInRole(UserRoleType.Manager.ToString());
    bool IsUser = User.IsInRole(UserRoleType.User.ToString());
    string typeofUserLogin = "";
    if (IsAdmin)
    {
        typeofUserLogin = "Admin";
    }
    if (IsManager)
    {
        typeofUserLogin = "Manager";
    }
    if (IsUser)
    {
        typeofUserLogin = "User";
    }
    var data = (Lead)ViewBag.data;
    var Title = ViewBag.title;
    BllUser bllUser = new BllUser();
    var userdata = bllUser.GetAllUsers();
    var remarksData = (Remarks)ViewBag.remarks;

    string LeadType = EnumHelper.GetEnumByValue<LeadType>(data.LeadType.ToString()).ToString();
    string LeadTypeDemand = EnumHelper.GetEnumByValue<LeadTypeDemand>(data.LeadTypeDemand.ToString()).ToString();
    string LeadStatus = EnumHelper.GetEnumByValue<LeadStatus>(data.LeadStatus.ToString()).ToString();
    string customerType = EnumHelper.GetEnumByValue<CustomerType>(data.CustomerType.ToString()).ToString();
    string Classoftravel = EnumHelper.GetEnumByValue<ClassOfTravel>(data.ClassOfTravel.ToString()).ToString();
    string LeadTripType = EnumHelper.GetEnumByValue<TripType>(data.TripTyepLead.ToString()).ToString();


    var typ = Enum.GetValues(typeof(LeadType)).Cast<LeadType>().ToList();
    var LeadTypes = new List<string>();
    foreach (var g in typ)
    {
        LeadTypes.Add(String.Join(Environment.NewLine, g));
    }

    var typdem = Enum.GetValues(typeof(LeadTypeDemand)).Cast<LeadTypeDemand>().ToList();
    var LeadTypeDemands = new List<string>();
    foreach (var g in typdem)
    {
        LeadTypeDemands.Add(String.Join(Environment.NewLine, g));
    }

    var sta = Enum.GetValues(typeof(LeadStatus)).Cast<LeadStatus>().ToList();
    var LeadStatuses = new List<string>();
    foreach (var g in sta)
    {
        LeadStatuses.Add(String.Join(Environment.NewLine, g));
    }

    var Cus = Enum.GetValues(typeof(CustomerType)).Cast<CustomerType>().ToList();
    var CustomerTypes = new List<string>();
    foreach (var g in Cus)
    {
        CustomerTypes.Add(String.Join(Environment.NewLine, g));
    }
    var clas = Enum.GetValues(typeof(ClassOfTravel)).Cast<ClassOfTravel>().ToList();
    var Classoftravels = new List<string>();
    foreach (var g in clas)
    {
        Classoftravels.Add(String.Join(Environment.NewLine, g));
    }

    Ticket TicketData = new Ticket();
    Hotel HotelData = new Hotel();
    var TripTypes = new List<string>();
    var trip = Enum.GetValues(typeof(TripType)).Cast<TripType>().ToList();

    foreach (var g in trip)
    {
        TripTypes.Add(String.Join(Environment.NewLine, g));
    }
    string TripType = "";
    if (data.Id != 0)
    {
        BllTicket bllTicket = new BllTicket();
        BllHotel bllHotel = new BllHotel();

        if (bllTicket.GetTicketByLead(data.Id) != null)
        {
            TicketData = bllTicket.GetTicketByLead(data.Id);
            TripType = EnumHelper.GetEnumByValue<TripType>(TicketData.TripType.ToString()).ToString();


        }
        if (bllHotel.GetHotelByLead(data.Id) != null)
        {
            HotelData = bllHotel.GetHotelByLead(data.Id);
        }
    }

    var LeadStatusEnum = Enum.GetName(typeof(LeadStatus), data.LeadStatus);

    var us = User.Identity.Name;
    var u = 3;

}
@*<div class="row">
        <button type="button" class="btn btn-primary">
            Sale post <span class="badge badge-light">
                <span class="material-icons">
                    arrow_forward
                </span>
            </span>
        </button>
    </div>*@
<input type="hidden" value="@Convert.ToInt32( User.Identity.Name)"/>
@*@if (data.Id != 0)
{
    @if (TicketData.Id != 0 || HotelData.Id != 0)
    {
        <div>
            <div class="right mt10">
                <a class="btn btn-success btn-dark" onclick="MakeRecipt();">
                    <span style="position: relative; top: -5px;"> Make Recipt</span>
                    <span class="material-icons mr-1" style="position: relative; top: 3px; width: 20px;">
                        add_circle
                    </span>
                </a>
            </div>
        </div>
    }

}*@
<div class="row">
    @*<div class="col-lg-12">
        <div style="width:inherit;background-color: #548A94;margin-bottom: 30px;">
            <a asp-action="" asp-controller="" asp-route-LeadId="">
                <img style="width: 80px;" src="~/images/a.png" />
            </a>

        </div>

    </div>*@
</div>

<!--
-->
<div id="" class="">
    <input type="hidden" id="hfLeadId" value="@data.Id" />
    <div class="row">

        <!--
        start Lead
        -->
        <div class="col-lg-12">
            <div id="BasicInfo" class="card" style="padding-bottom: 0px !important; margin-bottom: 0px;">
                <div class="card-header">
                    <strong>Lead Detail</strong>
                    @if (data.Id != 0)
                    {
                        <a class="btn btn-primary btn-sm float-right" asp-controller="@typeofUserLogin" asp-action="MakeRecipt" asp-route-LeadId="@data.Id">
                            <span class="material-icons">
                                receipt
                            </span>
                            <span style="position: relative;top: -6px;">Make Recipt</span>
                        </a>
                        <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" asp-controller="@typeofUserLogin" asp-action="MakeSalePost" asp-route-LeadId="@data.Id">
                            <span class="material-icons">
                                point_of_sale
                            </span>
                            <span style="position: relative;top: -6px;">Post Sale</span>
                        </a>
                        if (LeadStatusEnum == "Open" || LeadStatusEnum == "Success")
                        {
                            <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" onclick="ChangeStatus('Success');">
                                <span class="material-icons">
                                    thumb_up_alt
                                </span>
                                <span style="position: relative;top: -6px;">Success</span>
                            </a>
                            <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" onclick="ChangeStatus('Close');">
                                <span class="material-icons">
                                    trending_down
                                </span>
                                <span style="position: relative;top: -6px;">Close</span>
                            </a>
                        }
                        if (LeadStatusEnum == "Close")
                        {
                            <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" onclick="ChangeStatus('Open');">
                                <span class="material-icons">
                                    lock_open
                                </span>
                                <span style="position: relative;top: -6px;">Open</span>
                            </a>
                        }
                    }
                </div>

                <div class="card-body card-block">
                    <div id="div_message" class="note failure">
                        <p>
                            <span id="span_message"></span>
                        </p>
                    </div>
                    <br />
                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Lead ID</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-control" id="txtUserName" type="text" value="@(data.Id!=0 ? data.Id :"")" disabled required maxlength="20">
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Contact Person</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-control" id="txtFirstName" type="text" value="@data.FirstName" required maxlength="20">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Primary Phone</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-control" id="txtTelephone" type="text" required onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" value="@data.Telephone" maxlength="20">
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Email</label></div>
                        <div class="col-12  col-md-3">
                            <input class="form-control" id="txtEmail" type="text" value="@data.Email" required maxlength="500">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Care of</label></div>
                        <div class="col-12 col-md-3">
                            <select class="form-control" id="txtCreatedBy" name="txtCreatedBy" required @(ViewBag.IsAdd ? "disabled" : "")>
                                <option value="">Please Select</option>
                                @foreach (var user in userdata)
                                {
                                    if (user.Id == data.CreatedBy)
                                    {
                                        <option value="@user.Id" selected>@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                    }
                                    else
                                    {
                                        <option value="@user.Id">@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Customer Type</label></div>
                        <div class="col-12 col-md-3">
                            <select class="form-control" id="txtCustomerType" name="txtCustomerType" required>
                                @foreach (var c in CustomerTypes)
                                {
                                    if (c == customerType)
                                    {
                                        <option id="genders" selected>@c</option>
                                    }
                                    else
                                    {
                                        <option id="genders">@c</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col  col-md-2"><label for="hf-email" class=" form-control-label">Location</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-control" id="txtAddress" type="text" value="@data.Address" required maxlength="500">
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">In Contact With Customer</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-check-input" style="margin-left:20px; margin-top:12px;" id="txtRadio1" name="Radioname" @(data.ContactCustomer == "yes" ? "checked" : "") type="radio" onchange="OnchangePerson('yes')">
                            <label id="form-check-label" style="margin-left:40px; margin-top:5px;" for="male">Yes</label>
                            <input class="form-check-input" style="margin-left:20px; margin-top:12px;" id="txtRadio1" type="radio" name="Radioname" @(data.ContactCustomer == "no" ? "checked" : "") onchange="OnchangePerson('no')">
                            <label id="form-check-label" style="margin-left:40px; margin-top:5px;" for="male">No</label><br>
                            @*<label id="form-check-label" style="margin-left:40px; margin-top:5px;" for="male" >Yes</label><br>*@
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Service Type</label></div>
                        <div class="col-12 col-md-3">
                            <span class="material-icons">
                                airplane_ticket
                            </span>
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Departure Date</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-control" id="txtDepartureDateL" type="datetime" value="@data.DepartureDate" required maxlength="20">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Return Date</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-control" id="txtArrivalDateL" type="datetime" value="@data.ReturnDate" required maxlength="20">
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Lead Title</label></div>
                        <div class="col-12 col-md-3">
                            <input class="form-control" id="txtLeadTitle" type="text" value="@data.LeadTitle" required maxlength="20">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Created By</label></div>
                        <div class="col-12 col-md-3">
                            <select class="form-control" id="" name="" required @(ViewBag.IsAdd ? "disabled" : "")>
                                <option value="">Please Select</option>
                                @foreach (var user in userdata)
                                {
                                    if (user.Id == data.CreatedBy)
                                    {
                                        <option value="@user.Id" selected>@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                    }
                                    else
                                    {
                                        <option value="@user.Id">@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Taken Over By</label></div>
                        <div class="col-12  col-md-3">
                            <select class="form-control" id="txtAssignTo" name="txtAssignTo" required>
                                <option value="">Please Select</option>
                                @foreach (var user in userdata)
                                {
                                    if (user.Id == data.AssignToUser)
                                    {
                                        <option value="@user.Id" selected>@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                    }
                                    else
                                    {
                                        <option value="@user.Id">@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>


                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Status</label></div>
                        <div class="col-12 col-md-3">
                            <select class="form-control" id="txtLeadStatus" name="txtLeadStatus" required>
                                @foreach (var stat in LeadStatuses)
                                {
                                    if (stat == LeadStatus)
                                    {
                                        <option id="genders" selected>@stat</option>
                                    }
                                    else
                                    {
                                        <option id="genders">@stat</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Class of Travel</label></div>
                        <div class="col-12  col-md-3">
                            <select class="form-control" id="txtClassofTravel" name="txtClassofTravel" required>
                                <option value="">Please Select</option>
                                @foreach (var cl in Classoftravels)
                                {
                                    if (cl == Classoftravel)
                                    {
                                        <option id="genders" selected>@cl</option>
                                    }
                                    else
                                    {
                                        <option id="genders">@cl</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Trip Type</label></div>
                        <div class="col-12 col-md-3">
                            <select class="form-control" id="txttripType" name="txtTripType" required>
                                @foreach (var stat in TripTypes)
                                {
                                    if (stat == LeadTripType)
                                    {
                                        <option id="genders" selected>@stat</option>
                                    }
                                    else
                                    {
                                        <option id="genders">@stat</option>
                                    }

                                }
                            </select>
                        </div>


                        <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Lead Type</label></div>
                        <div class="col-12 col-md-3">
                            <select class="form-control" id="txtLeadTypeN" name="txtLeadTypeN" required>
                                @foreach (var lead in LeadTypes)
                                {
                                    if (lead == LeadType)
                                    {
                                        <option id="genders" selected>@lead</option>
                                    }
                                    else
                                    {
                                        <option id="genders">@lead</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <br />


                </div>

            </div>


            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm float-right" onclick="SaveLeads();">
                    <i class="material-icons " id="iconcss" style="">save</i>Save
                </button>
            </div>
        </div>


    </div>

    <br />
    @if (data.Id != 0)
    {
        <div class="row">

            <!--
            start Lead
            -->
            <div class="col-lg-12">
                <div id="BasicInfo2" class="card" style="padding-bottom: 0px !important; margin-bottom: 0px;">
                    <div class="card-header">
                        <strong>Free Text</strong>
                    </div>

                    <div class="card-body card-block" style="background-image: linear-gradient(to right, #5da9ba, #558994); ">
                        <div id="div_messagef" class="note failure">
                            <p>
                                <span id="span_messagef"></span>
                            </p>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <textarea class="form-control" id="txtFreeText" rows="10">@data.FreeText</textarea>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary btn-sm float-right" onclick="SaveFreeText();">
                            <i class="material-icons " id="iconcss" style="">save</i>Save FreeText
                        </button>
                    </div>
                </div>
            </div>
        </div>

    }
    <br />
    <br />
    <div style="display:@(ViewBag.IsAdd ? "inline" : "none")">
        <div class="right mT10">
            <a class="btn btn-success btn-sm" asp-action="AddEditRemarks" asp-controller="@typeofUserLogin" asp-route-LeadId="@data.Id">
                <span style="position: relative; top: -5px;">Add Remarks</span>
                <span class="material-icons mr-1" style="position: relative; top: 3px; width: 20px;">
                    add_circle
                </span>
            </a>
        </div>


        <div class="clearfix"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Remarks</strong>&nbsp; <span id="spanTotalRecords"></span>
                    </div>
                    <div class="card-body">
                        <div id="div_message" class="note failure">
                            <p>
                                <span id="span_message"></span>
                            </p>
                        </div>
                        <div class="c1 filter">

                            @*<div class="right">
                                Search: <input id="txtSearch" style="" type="text" class="form-control search">
                                <a title="Search" style="cursor:pointer; margin-left:5px; " onclick="SearchUsers();"><i class="material-icons " style="position:relative; top:5px;">search</i></a>
                                <a title="Reset" style="cursor:pointer;" onclick="ResetUsers();"><i class="material-icons" style="position:relative; top:5px;">clear</i></a>
                            </div>*@
                        </div>

                        <table id="tbl1" class="table">
                            <thead>
                                <tr>
                                    <th class="gridSortingMenu" scope="col" sortable datafield="createdDateStr" caption="">CreatedDate</th>
                                    <th class="gridSortingMenu" scope="col" sortable datafield="contactDateStr" caption="">To Contact on Date</th>
                                    <th class="gridSortingMenu" scope="col" sortable datafield="details" caption="">Details</th>
                                   
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        @*Show Pager*@

                        <div id="div_no_found" class="alert alert-info hide" role="alert">
                            No Remarks Found. Please click on Add Remark button to add a Remark.
                            @*This is a info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.*@
                        </div>




                    </div>
                </div>
            </div>


        </div>
    </div>


    <script id="ListTemplateCustomers" type="text/x-jsrender">
        <tr>
            <td>{{:createdDateStr}}</td>
            <td>{{:contactDateStr}}</td>
            <td>{{:details}}</td>
            <td>
                
                @*<a onclick="DeleteLeads({{:id}});" class="text-danger " style="cursor:pointer;"><i class="material-icons">delete_outline</i></a>*@
            </td>
        </tr>


    </script>

</div>
<div id="Ticket" class="tabcontent">
    @if (data.Id != 0)
    {
        <input type="hidden" id="hfTicketId" value="@TicketData.Id" style="display:none;" />
        <div class="col-lg-10" id="TicketPanel">
            <div id="BasicInfo" class="card" style="padding-bottom: 0px !important; margin-bottom: 0px;">
                <div class="card-header">
                    <strong>Ticket Detail </strong>
                </div>

                <div class="card-body card-block">
                    <div id="div_message_Ticket" class="note failure">
                        <p>
                            <span id="span_message_Ticket"></span>
                        </p>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">From</label></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" id="txtFrom" type="text" value="@TicketData.From" required maxlength="20">
                        </div>
                    </div>




                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">To</label></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" id="txtTo" type="text" value="@TicketData.To" required maxlength="20">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Departure Date</label></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" id="txtDepartureDate" type="date" value="@TicketData.DepartureDate" required maxlength="20">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Arrival Date</label></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" id="txtArrivalDate" type="date" value="@TicketData.ArrivalDate" required maxlength="20">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Ticket Issued By</label></div>
                        <div class="col-12 col-md-9">
                            <select class="form-control" id="txtTicketIssuedBy" name="txtTicketIssuedBy" required>
                                <option value="">Please Select</option>
                                @foreach (var user in userdata)
                                {
                                    if (user.Id == TicketData.User_Id)
                                    {
                                        <option value="@user.Id" selected>@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                    }
                                    else
                                    {
                                        <option value="@user.Id">@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Trip Type</label></div>
                        <div class="col-12 col-md-9">
                            <select class="form-control" id="txtTripType" name="txtTripType" required>
                                @foreach (var tript in TripTypes)
                                {
                                    if (tript == TripType)
                                    {
                                        <option id="genders" selected>@tript</option>
                                    }
                                    else
                                    {
                                        <option id="genders">@tript</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Total Value</label></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" id="txtTotalValue" type="text" value="@TicketData.TotalValue" required maxlength="500">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">NET Value</label></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" id="txtNetValue" type="text" value="@TicketData.NetValue" required maxlength="500">
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">PSF</label></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" id="txtPSF" type="text" required value="@TicketData.PSF" maxlength="20">
                        </div>
                    </div>



                </div>

            </div>


            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="SaveTicket();">
                    <i class="material-icons " id="iconcss" style="">save</i>Save
                </button>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            Please Create lead in Order to Sale Post About Ticket
        </div>
    }
</div>

<div id="Hotel" class="tabcontent">
    @if (data.Id != 0)
    {
        <input type="hidden" id="hfHotelId" value="@HotelData.Id" style="display:none;" />
        <div class="col-lg-10" id="HotelPanel">
            <div id="BasicInfo" class="card" style="padding-bottom: 0px !important; margin-bottom: 0px;">
                <div class="card-header">
                    <strong>Hotel Detail </strong>
                </div>

                <div class="card-body card-block">
                    <div id="div_message_Hotel" class="note failure">
                        <p>
                            <span id="span_message_Hotel"></span>
                        </p>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Hotel Name</label></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" id="txtHotelName" type="text" value="@HotelData.Name" required maxlength="20">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">City</label></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" id="txtCityH" type="text" value="@HotelData.City" required maxlength="20">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Country</label></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" id="txtCountryH" type="text" value="@HotelData.Country" required maxlength="500">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Ticket Issued By</label></div>
                        <div class="col-12 col-md-9">
                            <select class="form-control" id="txtHotelIssuedBy" name="txtTicketIssuedBy" required>
                                <option value="">Please Select</option>
                                @foreach (var user in userdata)
                                {
                                    if (user.Id == HotelData.User_Id)
                                    {
                                        <option value="@user.Id" selected>@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                    }
                                    else
                                    {
                                        <option value="@user.Id">@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Total Value</label></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" id="txtTotalValueH" type="text" value="@HotelData.TotalValue" required maxlength="500">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">NET Value</label></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" id="txtNetValueH" type="text" value="@HotelData.NetValue" required maxlength="500">
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">PSF</label></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" id="txtPSFH" type="text" required value="@HotelData.PSF" maxlength="20">
                        </div>
                    </div>



                </div>

            </div>


            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="SaveHotel();">
                    <i class="material-icons " id="iconcss" style="">save</i>Save
                </button>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            Please Create lead in Order to Sale Post About Hotel
        </div>
    }

</div>

<div id="Umrah" class="tabcontent">
    <p>Coming Soon</p>
</div>

