@using FlightoUs.Model.Data
@using FlightoUs.Model.Enums
@section Styles
{
    <link rel="stylesheet" href="~/css/CRM/Recipt/MakeRecipt.css?v=@DateTime.Now.Ticks.ToString()" />
<link rel="stylesheet" href="~/css/CRM/Recipt/normalize.min.css"/>
}
@section Scripts
{
    <script src="~/js/CRM/Admin/Recipt/AddEditRecipt.js?v=@DateTime.Now.Ticks.ToString()"></script>
    <script src="~/js/CRM/Admin/Recipt/html5-3.6-respond-1.1.0.min.js"></script>
    <script src="~/js/CRM/Admin/Recipt/jQuery.print.min.js"></script>

}
@{
    bool IsAdmin = User.IsInRole(UserRoleType.Admin.ToString());
    bool IsManager = User.IsInRole(UserRoleType.Manager.ToString());
    bool IsUser = User.IsInRole(UserRoleType.User.ToString());
    string typeofUserLogin = "";
    if (IsAdmin)
    {
        typeofUserLogin = "Admin";
    }
    if (IsManager)
    {
        typeofUserLogin = "Manager";
    }
    if (IsUser)
    {
        typeofUserLogin = "User";
    }
    var data = (Lead)ViewBag.data;
    var reciptData = (Recipt)ViewBag.recipt;
}
<input type="hidden" value="@data.Id" id="hfLeadId" />
<input type="hidden" value="@User.Identity.Name" id="UserId" />
<input type="hidden" value="@typeofUserLogin" id="UserTypeLogin" />
<div class="page-content container">
    <div class="page-header text-blue-d2">
        <h1 class="page-title text-secondary-d1">
            Recipt
            <small class="page-info">
                <i class="fa fa-angle-double-right text-80"></i>
                ID: @reciptData.ReciptNo
            </small>
        </h1>

        <div class="page-tools">
            <div class="action-buttons">
                @if (IsAdmin)
                {
                    <a class="btn btn-primary " onclick="jQuery('#Panel').print();" href="#" data-title="Print" style="position: relative; top: -4px; border-radius: 10%;">
                        <span class="material-icons">
                            print
                        </span>
                        <span style="position: relative;top: -5px;">Print</span>
                    </a>
                }
            </div>
        </div>
    </div>
    <div id="div_message" class="note failure">
        <p>
            <span id="span_message"></span>
        </p>
    </div>
    <div class="container px-0" id="Panel">
        <div class="row mt-4">
            <div class="col-12 col-lg-10 offset-lg-1" id="BasicInfo">
                <div class="row">
                    <div class="col-12">
                        <div class="col-8">
                            <i class="fa fa-book fa-2x text-success-m2 mr-1"></i>
                            <span class="text-default-d3"><img width="120" src="~/images/FlightoUs Logo.png" /></span>
                        </div>
                        <div class="col-4" style="margin-top:20px;">
                            <label><strong>Address :</strong></label><p> Office # 12-L, Commercial DHA Phase 1, Lahore, Cantt </p>
                        </div>
                    </div>
                </div>
                <!-- .row -->

                <hr class="row brc-default-l1 mx-n1 mb-4" />

                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <span class="text-sm text-grey-m2 align-middle">To:</span>
                            <span class="text-600 text-110 text-blue align-middle">@data.FirstName</span>
                        </div>
                        <div class="text-grey-m2">
                            <div class="my-1">
                                @data.LeadTitle
                            </div>
                            <div class="my-1">
                                @data.Address
                            </div>
                            <div class="my-1">
                                <span class="material-icons">
                                    phone
                                </span>
                                <b style="position: relative;top: -8px;" class="text-600">@data.Telephone.Trim()</b>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->

                    <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
                        <hr class="d-sm-none" />
                        <div class="text-grey-m2">
                            <div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
                                Recipt Details
                            </div>

                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">ID:</span>#@reciptData.ReciptNo</div>

                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Issue Date:</span>  @reciptData.CreatedDate</div>

                            @*<div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Created By:</span>  @reciptData.User.FirstName</div>*@

                            @*<div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Status:</span> <span class="badge badge-warning badge-pill px-25">Unpaid</span></div>*@
                        </div>
                    </div>
                    <!-- /.col -->
                </div>

                @*<div class="mt-4">
                    <div class="row text-600 text-white bgc-default-tp1 py-25">
                        <div class="d-none d-sm-block col-1">#</div>
                        <div class="col-9 col-sm-9">Description</div>
                        <div class="col-2">Amount</div>
                    </div>

                    <div class="text-95 text-secondary-d3">
                        <div class="row mb-2 mb-sm-0 py-25">
                            <div class="d-none d-sm-block col-1">1</div>
                            <div class="col-9 col-sm-9">Ticket </div>
                            <div class="col-2 text-secondary-d2">20</div>
                        </div>


                    </div>*@

                <div class="row border-b-2 brc-default-l2"></div>

                <!-- or use a table instead -->

                <div class="table-responsive">
                    <table class="table table-striped table-borderless border-0 border-b-2 brc-default-l1">
                        <thead class="bg-none bgc-default-tp1">
                            <tr class="text-white">
                                <th class="opacity-2">#</th>
                                <th>Description</th>
                                <th></th>
                                <th></th>
                                <th width="140">Amount</th>
                            </tr>
                        </thead>

                        <tbody class="text-95 text-secondary-d3">
                            <tr></tr>
                            <tr>
                                <td>1</td>
                                <td>@reciptData.FirstServiceTitle</td>
                                <td></td>
                                <td class="text-95"></td>
                                <td class="text-secondary-d2">@reciptData.FirstServicePrice</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>@reciptData.SecondServiceTitle</td>
                                <td></td>
                                <td class="text-95"></td>
                                <td class="text-secondary-d2">@reciptData.SecondServicePrice</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>@reciptData.ThirdServiceTitle</td>
                                <td></td>
                                <td class="text-95"></td>
                                <td class="text-secondary-d2">@reciptData.ThirdServicePrice</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="row mt-3">
                    <div class="col-12 col-sm-9 text-grey-d2 text-95 mt-2 mt-lg-0">
                        <strong>@reciptData.Remarks</strong>

                    </div>

                    <div class="col-12 col-sm-3 text-grey text-90 order-first order-sm-last">
                        <div class="row my-2">
                            <div class="col-7 text-right">
                                Total Amount
                            </div>
                            <div class="col-5">
                                <span class="text-120 text-secondary-d1">@reciptData.TotalAmount</span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-7 text-right">
                                Paid
                            </div>
                            <div class="col-5">
                                <span class="text-120 text-secondary-d1">@reciptData.AmountPaid</span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-7 text-right">
                                Balance
                            </div>
                            <div class="col-5">
                                <span class="text-120 text-secondary-d1">@reciptData.Balance</span>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div>
                    <span class="text-secondary-d1 text-105">Thanks for Contacting Us</span>
                    @*<a href="#" class="btn btn-info btn-bold px-4 float-right mt-3 mt-lg-0" onclick="makeRecipt();">
                            <span class="material-icons">
                                receipt
                            </span>
                            <span style="position: relative;top: -6px;">Make Recipt</span>
                        </a>*@
                </div>
            </div>
        </div>
    </div>
</div>
</div>