@using FlightoUs.Bll
@using FlightoUs.Model.Data
@using FlightoUs.Model.Enums
@using FlightoUs.Bll.Helpers


@section Scripts
{
    <script src="~/js/CRM/Admin/SalePost/AddEditSalePost.js?v=@DateTime.Now.Ticks.ToString()"></script>

}
@{
    bool IsAdmin = User.IsInRole(UserRoleType.Admin.ToString());
    bool IsManager = User.IsInRole(UserRoleType.Manager.ToString());
    bool IsUser = User.IsInRole(UserRoleType.User.ToString());
    string typeofUserLogin = "";
    if (IsAdmin)
    {
        typeofUserLogin = "Admin";
    }
    if (IsManager)
    {
        typeofUserLogin = "Manager";
    }
    if (IsUser)
    {
        typeofUserLogin = "User";
    }
    var data = (Lead)ViewBag.data;
    BllUser bllUser = new BllUser();
    var userdata = bllUser.GetAllUsers();
    var salePost = (SalePost)ViewBag.salePost;


    var SaleType = Enum.GetValues(typeof(SalePostType)).Cast<SalePostType>().ToList();
    var SaleTypes = new List<string>();
    foreach (var g in SaleType)
    {
        SaleTypes.Add(String.Join(Environment.NewLine, g));
    }
    var Triptype = Enum.GetValues(typeof(TripType)).Cast<TripType>().ToList();
    var Triptypes = new List<string>();
    foreach (var g in Triptype)
    {
        Triptypes.Add(String.Join(Environment.NewLine, g));
    }
}


<input type="hidden" id="hfLeadId" value="@data.Id" />
<input type="hidden" id="hfsalePostId" value="@salePost.Id" />
<div class="row">

    <!--
    start Lead
    -->
    <div class="col-lg-12">
        <div id="BasicInfo1" class="card" style="padding-bottom: 0px !important; margin-bottom: 0px;">
            <div class="card-header">
                <strong>SalePost  Detail</strong>
            </div>

            <div class="card-body card-block">
                <div id="div_message" class="note failure">
                    <p>
                        <span id="span_message"></span>
                    </p>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Staff</label></div>
                    <div class="col-12 col-md-3">
                        <select class="form-control" id="txtCreatedBy" name="txtCreatedBy" required>
                            <option value="">Please Select</option>
                            @foreach (var user in userdata)
                            {
                                <option value="@user.Id">@Html.Raw(user.FirstName + ' ' + user.LastName)</option>
                            }
                        </select>
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Sale Type</label></div>
                    <div class="col-12 col-md-3">
                        <select class="form-control" id="txtSaleType" onchange="checktype();" name="txtSaleType" required>
                            @foreach (var saless in SaleTypes)
                            {
                                <option id="genders">@saless</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">City</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtCity" type="text" required value="" maxlength="20">
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Country</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtCountry" type="text" value="" required maxlength="500">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">PSF</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtPSF" type="text" required value="" maxlength="20">
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">NetValue</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtNetValue" type="text" value="" required maxlength="500">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">TotalValue</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtTotalValue" type="text" required value="" maxlength="20">
                    </div>
                    @*<div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">TotalValue</label></div>
                        <div class="col-12  col-md-3">
                            <input class="form-control" id="txtTotalValue" type="text" value="" required maxlength="500">
                        </div>*@
                </div>
                <br />


            </div>
        </div>
        <div id="BasicInfo2" class="card" style="padding-bottom: 0px !important; margin-bottom: 0px; margin-top: 50px;">

            <div class="card-header">
                <strong>Ticket Sale Detail</strong>
            </div>

            <div class="card-body card-block">
                <br />

                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Sector</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtSector" type="text" required value="" maxlength="20">
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Flight</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtFlightNo" type="text" value="" required maxlength="500">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Departure Date</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtDepartureDate" type="date" required value="" maxlength="20">
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Flight Type</label></div>
                    <div class="col-12  col-md-3">
                        <select class="form-control" id="txtTriptype" name="txtTriptype" required>
                            <option value="">Please Select</option>
                            @foreach (var cl in Triptypes)
                            {
                                <option id="genders">@cl</option>
                            }
                        </select>
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">PNR</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtPNR" type="text" required value="" maxlength="20">
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Arrival Date</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtArrivalDate" type="date" value="" required maxlength="500">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">From</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtFrom" type="text" required value="" maxlength="20">
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">To</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtTo" type="text" value="" required maxlength="500">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Adults</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtAdults" type="number" required value="" maxlength="20">
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Children</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtChildren" type="number" value="" required maxlength="500">
                    </div>
                </div>
                <br />


            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm float-right" onclick="SaleTicket();">
                    <i class="material-icons " id="iconcss" style="">save</i>Post Ticket Sale
                </button>
            </div>
        </div>


        <div id="BasicInfo3" class="card" style="padding-bottom: 0px !important; display:none; margin-bottom: 0px; margin-top: 50px;">

            <div class="card-header">
                <strong>Hotel Sale Detail</strong>
            </div>

            <div class="card-body card-block">
                <br />

                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Hotel Name</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtHotelName" type="text" required value="" maxlength="20">
                    </div>
                </div>

                <br />


            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm float-right" onclick="SaleHotel();">
                    <i class="material-icons " id="iconcss" style="">save</i>Post Hotel Sale
                </button>
            </div>
        </div>

        <div id="BasicInfo4" class="card" style="padding-bottom: 0px !important;  display:none; margin-bottom: 0px; margin-top: 50px;">

            <div class="card-header">
                <strong>Other Sale Detail</strong>
            </div>

            <div class="card-body card-block">
                <br />

                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Other Sale Name</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtOtherName" type="text" required value="" maxlength="20">
                    </div>
                </div>


                <br />


            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm float-right" onclick="SaleOther();">
                    <i class="material-icons " id="iconcss" style="">save</i>Post Other Sale
                </button>
            </div>
        </div>
    </div>


</div>